<footer>
  <div class="div">
    <p>Created with ♥ by Moisés Henrique SA from the Sun City: Natal - Brazil</p>
  </div>
</footer>
{{#if (isHome title)}}
<script src="/scripts/main.bundle.js"></script>
{{/if}}
</body>

</html>