{{>header}}
<form action="/weather" method="GET">
  <input type="text" name="location">
  <button>Get your weather</button>
</form>

<img src="" alt="" id="icon">
<p><span id="message-1"></span></p>
<p><span id="message-2"></span></p>
<p><span id="message-3"></span></p>

{{>footer}}